<h1>Ember Profile Upload</h1>

{{profile-upload
  class="profile-upload"
  fileUrl=url
  placeholderUrl="/profile.jpg"
  onchange=(action (mut url))}}

<h2>Outside URL:</h2>

<img src="{{url}}" alt="">
